.container{
    width:400px;
    margin:auto;
   }
   #count, #word-count{
       color:red;
       font-weight: 700;
   }
   #btn-clear{
     color:white;
     background-color: royalblue;
     border-radius: 5px;
     padding: 5px;
     margin-top:10px;
     font-weight: 900;
     
   }